.theme-light {
    --color-primary: #f1f1f1;
    --color-secondary: #79ffbc;
    --color-accent: #07be01;
    --font-color: #000000;
    --font-color-hover: #1b1b1b;
    --color-opposite: #111111;
    --color-border: #00000050;
    --color-pure: white;

    --icon-url: url("../img/icon/theme-dark.png");
    --logo-url: url("../img/icon/logo-dark.png");
    --icon-search: url("../img/icon/search-dark.png");
    
}

.theme-dark {
    --color-primary: #0a0a0a;
    --color-secondary: #111111;
    --color-accent: #07be01;
    --font-color: #ffffff;
    --font-color-hover: #dbdbdb;
    --color-opposite: #f0f0f0;
    --color-border: #ffffff50;
    --color-pure: black;
    
    --icon-url: url("../img/icon/theme-light.png");
    --logo-url: url("../img/icon/logo-light.png");
    --icon-search: url("../img/icon/search-light.png");
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--font-color);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;

    font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
        "Roboto", sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;
}

/* Portrait layout (default) */
.app {
    height: 100vh;
    width: 100vw;
    background: url('../img/bg/food-bg-2.jpg') fixed center;
    position: relative;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.3;
}

.container-main {
    height: 80%;
    width: 85%;
    min-width: 350px;
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);

    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
}

.container-header {
    width: 100%;
    height: 68px;

    padding-left: 53px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid var(--color-border);

    background-color: var(--color-pure);
}

.header-logo {
    height: 45px;
    width: 191px;
    background: var(--logo-url) no-repeat center;
    background-size: 191px 45px;
    margin-left: auto;
    margin-right: auto;
}

.container-header .btn {
    width: 38px;
    height: 38px;
    color: var(--font-color);

    border-radius: 40px;
    border: none;

    margin: 15px;

    opacity: 0.4;
    transition: 0.3s;
}

#theme-button {
    background: var(--icon-url) no-repeat center;
    border: 1px solid var(--color-opposite);
}

.container-header .btn:hover {
    opacity: 1;
}

.container-header .btn:focus {
    outline: none;
    box-shadow: none;
}

.container-search {
    height: 90px;
    width: 85%;
    background-color: var(--color-secondary);

    position: relative;
    margin: auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    /* bottom: 35px; */
    border-radius: 20px;
    padding: 0px 20px;
}

.container-search #search-bar {
    height: 58%;
    width: 90%;
    background-color: var(--color-pure);
    font-size: 20px;
    caret-color: var(--color-border);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid var(--color-border);
    padding: 10px;
    padding-bottom: 13px;

    transition: 0.2s;
}

.container-search #search-bar:focus {
    outline: none;
    box-shadow: 1px 1px 8px var(--color-border);
}

.container-search #search-button {
    height: 58%;
    width: 20%;
    background: var(--icon-search) no-repeat center;
    background-color: var(--color-accent);

    background-size: 35px 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;

    transition: 0.1s;
}

.container-search #search-button:active {
    background-size: 32px 32px;
}

.container-search #search-button:focus {
    outline: none;
}

.result {
    height: 550px;
    width: 100%;
    overflow: scroll;
    /* background-color: #000000; */
    /* padding: 10px; */
}

.result .item {
    min-height: 70px;
    width: 100%;
    /* background-color: #202020; */
    padding: 0px 30px 10px 30px;
    font-size: 21px;

    /* border-radius: 15px; */
}


/* STYLE FOR LANDSCAPE VIEW */

@media screen and (min-width:400px) {
    .container-main {
        max-width: 600px;
    }
}
